<div class="modal fade show" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: block;" aria-hidden="flase">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a href="/" class="btn btn-danger">返回</a>
      </div>
      <div class="modal-body">
        <h2>請輸入網址</h2>
      </div>
    </div>
  </div>
</div>